%%-*- mode: erlang -*-
{sub_dirs, [ 
            ]}.
{deps, [{ecb,             "*",       {git, "https://github.com/alexott/ecb.git", "HEAD"},[raw]},
        {edts,            "*",       {git, "https://github.com/josephDunne/edts.git", "HEAD"},[raw]},
        {'emacs-flymake', "*",       {git, "https://github.com/illusori/emacs-flymake.git", "HEAD"},[raw]}
        ]}.

